NODE_ENV='development'
PORT= 4000
HOST=http://localhost


DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=event-service-db

JWT_SECRET=secret

WEBHOOK_URL=https://webhook.site/4a69c98d-1474-4bb4-a8df-47ab280a30a3

